@model QLKyTucXa.Models.DangKyModel

@{
    ViewBag.Title = "DangKySVCu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/admin/css/register.css" rel="stylesheet" />
<script src="~/Assets/admin/js/thongbao.js"></script>



<div class="jumbotron" style="background-color:aliceblue">
    <p class="chu" style="font-size:30px"><b>Thông tin sinh viên đăng ký</b></p>

    @using (Html.BeginForm("DangKySVCu", "SinhVien", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="tableTT">
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.IDDotDangKy)</td>
                <td>
                    @Html.TextBoxFor(model => model.IDDotDangKy, new { htmlAttributes = new { @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.IDDotDangKy, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IDSinhVien)
                </td>
                <td>

                    @Html.TextBoxFor(model => model.IDSinhVien)
                    @Html.ValidationMessageFor(model => model.IDSinhVien, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NgayDangKy)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.NgayDangKy)
                    @Html.ValidationMessageFor(model => model.NgayDangKy, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NV1)
                </td>
                <td>
                    @Html.EditorFor(model => model.NV1)
                    @Html.ValidationMessageFor(model => model.NV1, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NV2)
                </td>
                <td>
                    @Html.EditorFor(model => model.NV2)
                    @Html.ValidationMessageFor(model => model.NV2, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.NV3)
                </td>
                <td>
                    @Html.EditorFor(model => model.NV3)
                    @Html.ValidationMessageFor(model => model.NV3, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td colspan="4" align="center">
                    <input type="submit" value="Đăng Ký" class="btn btn-facebook" />
                </td>
            </tr>
        </table>

    }
</div>

